body {
}

.square {
    width: 600px;
    height: 600px;
    border: 5px solid black;
    background-color: transparent;
    margin: 20px;
}

.position_button {
    position: absolute;
    padding: 5px 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    
}


.high_player {
    box-shadow: 0 0 1px 2px rgb(255 216 0);
}
    .player_name_text {
    color: black;
    position: absolute;
    left: 700px;
    top: 50px;
    font-size: 60px;
    font-family: "Noto Sans", "Noto Sans KR", "Noto Sans JP", "Noto Sans SC", "Noto Naskh Arabic", sans-serif;
}

.position_text {
    color: black;
    position: absolute;
    left: 700px;
    top: 150px;
    font-size: 40px;
}





.none {
    background-color: dimgrey;
    color: black;
}
.none_button {
    background-color: dimgrey;
    color: black;
    color: white
}

.type1 {
    background-color: blue;
    color: black;
}
.type1_button {
    background-color: blue;
    color: black;
    color: white
}

.type2{
    background-color: red;
    color: black;
}
.type2_button {
    background-color: red;
    color: black;
    color: white
}
.type3 {
    background-color: purple;
    color: black;
}
.type3_button {
    background-color: purple;
    color: black;
    color: white
}

 
.type4{
    background-color:turquoise;
    color: black;
}
.type4_button {
    background-color: turquoise;
    color: black;
    color: white
}
.type5{
    background-color: darkgreen;
    color: black;
}
.type5_button {
    background-color: darkgreen;
    color: black;
    color: white
}
.type6 {
    background-color: darkorange;
    color: black;
}
.type6_button {
    background-color: darkorange;
    color: black;
    color: white
}
.type7 {
    background-color: darkcyan;
    color: black;
}
.type7_button {
    background-color: darkcyan;
    color: black;
    color: white
}
.type8 {
    background-color: mediumaquamarine;
    color: black;
}
.type8_button {
    background-color: mediumaquamarine;
    color: black;
    color: white
}
